GameOver {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.text {
		font-family: VCR_OSD_MONO_1.001;
		font-size: 64px;
	}
}
